
.container {
    width: 100%;
    height: auto;
    font-family: 'PT Sans', sans-serif;
}
.title h2 {
    display:flex;
    /* margin: 0 auto; */
    justify-content: center;
    margin-top: 25% ;
    font-size: 80px;
    text-decoration-color: #00b4d8;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-bottom-color: #00b4d8;
    margin-top: 210px;
}

.card{
    margin-top:20px;
    padding-bottom:40px
}
.container-image {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    clip-path:circle();
    margin-top: 13px;
    margin-bottom: 10px;  
}

i {
   position:absolute;
   top: 40px;
   left: 560px;
   font-size:30px;
   background-color: #00b4d8;
   color:white;
   clip-path:circle();
   padding: 5px;
}

/* media type */
    @media screen and (max-width:1398px) {
        i {
    position:absolute;
    top: 40px;
    left: 470px;
    font-size:30px;
    }
    }

    @media screen and (max-width:1198px) {
        i {
         position:absolute;
         top: 40px;
         left: 380px;
         font-size:30px;
        }
    }

    @media screen and (max-width: 991px) {
        i {
         position:absolute;
         top: 40px;
         left: 260px;
         font-size:30px;
        }
    }

    @media screen and (max-width: 765px) {
        i {
         position:absolute;
         top: 40px;
         left: 170px;
         font-size:30px;
        }
    }
    @media screen and (max-width: 575px) {
        i {
         position:absolute;
         top: 40px;
         left: 160px;
         font-size:30px;
        }
    }

/* media type */

.author {
    text-align: center;
    font-size: 30px;    
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    margin-bottom:20px;
}

.job {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color:#00b4d8;
    font-size: 33px;
    margin-bottom:20px;
}

.text {
    text-align: center;
    margin-left: 150px;
    margin-right:15 0px;
    font-size: 25px ;
    color:#6c757d;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}

.button-container {
    display: inline-block;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10px;
}
.btn-prev {
    border:none;
    background-color:white;
    color:#00b4d8;
    font-size: 50px;
}
.btn-next {
    border:none;
    background-color:white;
    color:#00b4d8;
    font-size: 50px;
}

.btn-random {
    margin: 0 auto;
    padding:6px 35px;
    font-size:24px;
    border-radius:5px;
    background-color:#00b4d8;
    color:white;
    border: #00b4d8;
    text-decoration: none;
    box-shadow: none;
}